<div class="row well-sm">

    <div class="col-md-12">

        <label for="pubNum">Publication number</label>
        <input type="text" id="pubNum" />
        <input type="button" value="Fetch EPO biblio" />

    </div>

</div>

<div class="row well-lg" id="epobiblio">

    <h2>Dispaly data here</h2>

</div>
